<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="at.sesame.fhooe.phone"
    android:versionCode="1"
    android:versionName="1.0" >

	<uses-sdk android:targetSdkVersion="7"
	    		android:minSdkVersion="8"/>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE"/>

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <activity
            android:label="@string/app_name"
            android:name=".PMSRoomsListActivity"
            android:theme="@android:style/Theme.NoTitleBar" 
            android:screenOrientation="portrait">
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:label="@string/app_name"
            android:name="at.sesame.fhooe.phone.PMSClientActivity"
            android:screenOrientation="portrait" >
        </activity>
        
        <activity
            android:label="@string/app_name"
            android:name="at.sesame.fhooe.phone.TodayChartActivity">
        </activity>
        
        <activity
            android:label="@string/app_name"
            android:name="at.sesame.fhooe.phone.ComparisonActivity" >
        </activity>
        <activity
            android:label="@string/app_name"
            android:name="at.sesame.fhooe.phone.ComparisonSelectionActivity" >
        </activity>
    </application>

</manifest>