
/EnergyDataAccess/gen
/EnergyDataAccess/bin
/wheel/gen
/wheel/bin
/SesameEnergyDisplay/bin
/SesameEnergyDisplay/gen
/SesameEnergyDisplay/bin
/ViewExperiments/gen
/ViewExperiments/bin
/MID_SesameDisplay/gen
/MID_SesameDisplay/bin
/MID_SesameDisplay/gen
/MID_SesameDisplay/project.properties